Flask
python-dotenv
openai
SpeechRecognition
twilio
Flask-SocketIO
python-socketio

# OpenTelemetry packages
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-http

# LangChain packages
langchain-openai
langchain

# Arize packages
arize-phoenix
openinference-semantic-conventions
openinference-instrumentation-langchain
